name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      service:
        type: string
        required: true
      dockerfile:
        type: string
        default: 'Dockerfile'
      version:
        type: string
        required: true
    outputs:
      docker_image:
        description: "ECR image URI with tag"
        value: ${{ jobs.build_and_push.outputs.docker_image }}

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    outputs:
      docker_image: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.service }}:${{ inputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          mask-aws-account-id: false

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.service }}:${{ inputs.version }}
          platforms: linux/amd64
          cache-from: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ inputs.service }}:buildcache
          cache-to: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ inputs.service }}:buildcache,mode=max
